{%- extends "delphibase.template.j2" -%}

{%- set clibuse = false -%}
{%- if apidef.CLibUse.elements.shape[0] > 0 and 
       apidef.Prefix not in apidef.CLibUse.elements['prefix'].tolist() -%}
    {%- set clibuse = true -%}
{%- endif -%}
{% set const = false %}
{%- if apidef.gcon.elements.shape[0] > 0 or apidef.gstrcon.elements.shape[0] > 0 -%}
    {% set const = true %}
{%- endif -%}

{%- block header -%}
{%- if (not clibuse) and (const) -%}
unit {{ apidef.DelphiCon }};
{ Delphi Constants {{ api.generatedstr }} }
{% endif -%}
{%- endblock -%}

{%- block content %}
{%- if (not clibuse) and (const) -%}
interface

{{ writeconst() }}
implementation

end.
{% endif -%}
{% endblock %}
