{%- extends "cbase.template.j2" -%}

{%- block header -%}
Header file {{ api.generatedstr }}
{%- endblock -%}

{%- block content -%}
#if ! defined(_{{ apidef.Prefix.upper() }}F9GLU_H_)
#     define  _{{ apidef.Prefix.upper() }}F9GLU_H_

#define {{ apidef.Prefix.upper() }}APIVERSION {{ apidef.APIVersion }}

void {{ apidef.Prefix }}F90InitMutexes(void);
void {{ apidef.Prefix }}F90FiniMutexes(void);

#endif /* #if ! defined(_{{ apidef.Prefix.upper() }}F9GLU_H_) */
{% endblock -%}
